.header_modif{
    background-color: #0D6EFD;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 216px;
    padding-top: 47px;
    padding-bottom: 48px;
  }

  @media (max-width: 390px){
    .header_modif {
      height: 260px;
    }
    canvas{
        width: auto !important;
        height: 200px !important;
    }
  }

  .graphique{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    margin-top: 24px;
  }

  .chart_bloc_graph{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.176); /* 0,176 pour un opacité de 17 */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
    max-width: 1320px;
    padding: 0; /* Il supprime tout les espaces intérieur */
    overflow: hidden; /* force les bords à se coller */
  }
  
  .chart_titre_top10{
    color: white;
    background-color: #0D6EFD;
    padding: 8px 16px 9px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    margin: 0; /* Il supprime les marges */
  }

  .chart_titre_genre{
    color: white;
    background-color: #198754;
    padding: 8px 16px 9px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.176);
    margin: 0; /* Il supprime les marges */
  }

  canvas{
    width: auto !important;
    height: 400px !important;
  }